

<div class="banner">
  <div class="container">
    <h1>Find the perfect flying vehicle <br> that will take you to the skies</h1>
    <p>Whether it's a kite or a rocket, avoid the hassles of earthly life <br> by taking flight now.</p>
    <%= link_to "Browse vehicles", vehicles_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="action-container">
  <div class="card-product">
    <%= image_tag 'homepage_space.png' %>
    <div class="card-product-infos">
      <%= link_to new_user_session_path, class: "card-product" do %>
        <h2>Become a host > </h2>
      <% end %>
      <p>Start sharing your flying vehicle on Icarus</p>
    </div>
  </div>

  <div class="card-product">
    <%= image_tag 'homepage_world.png' %>
    <div class="card-product-infos">
      <%= link_to vehicles_path, class: "card-product" do %>
        <h2> Book a flying vehicle >  </h2>
      <% end %>
      <p>Across the country, find the perfect vehicle for your next adventure</p>
    </div>
  </div>
</div>
</div>
