<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://static.vecteezy.com/system/resources/thumbnails/000/597/182/small/mei_wings-27.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Log in", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner">
  <div class="container">
    <h1>Find the perfect flying vehicle that will take you to the skies</h1>
    <p>Whether it's a kite or a rocket, avoid the hassles of earthly life by taking flight now.</p>
    <%= link_to "Browse vehicles", vehicles_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="card-product">
  <%= image_tag 'homepage_space.png' %>
  <div class="card-product-infos">
    <h2>Become a host</h2>
    <p>Start sharing your flying vehicle on Icarus</p>
  </div>
</div>

<div class="card-product">
  <%= image_tag 'homepage_world.png' %>
  <div class="card-product-infos">
    <h2>Book a flying vehicles</h2>
    <p>Across the country, find the perfect vehicle for your next adventure</p>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    @2021 Icarus
  </div>
</div>
