<h1><%= vehicle.name %></h1>

<div class="flex-box">
  <h2>Is owned by<%= vehicle.owner %></h2>
  <p>This vehicule is a <%= vehicle_type %>.</p>
  <img vehicle.photo, width: 200px>

  <p>In this vehicle you may fit <%= vehicle.total_seats %></p>

  <p>"<%= vehicle.summary%>"</p>

  <p>You can find this vehicle at <%= vehicle.address %></p>
  <p>It will cost you <%=price_per_day:%> per day<p>

</div>
