<div class="header-index">
  <h1>Here are all your renting requests</h1>
</div>

<div>
  <h2>Renting requests:</h2>
</div>

<div class="container my-3">
  <div class="cards-renting">
    <% @rentings.each do |renting| %>
        <div class="card-renting-category">
          <div class="renting-top-right">
              <span class="label-vehicle-name"><%= renting.vehicle.name.upcase %></span>
              <br>
              $<%= renting.total_price/1000 %> k
          </div>
          <div class="renting-top-left">
            <h2>Renter's name <%= renting.user.first_name%> <%= renting.user.last_name%></h2>
            <p>Renter's email <%= renting.user.email%></p>
            <p>Renter's phone <%= renting.user.phone_number%></p>
            <p>Renter's description "<%= renting.user.description%>"</p>
          </div>
        </div>
    <% end %>
  </div>
</div>
