<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://static.vecteezy.com/system/resources/thumbnails/000/597/182/small/mei_wings-27.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Log in", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="header-index">
<h1>All vehicles</h1>
</div>

<div>
  <h2>Decouvrez nos véhicules: </h2>
</div>

<div class="vehicles">
  <% @vehicles.each do |vehicle| %>
    <div class="card vehicle" style="width: 18rem;">
      <%= image_tag vehicle.photo, class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"> <%= vehicle.name.capitalize  %></h5>
        <p class="card-text"></p>
        <span class="label-vehicle-type"><%= vehicle.vehicle_type.upcase %></span>
        $<%= vehicle.price_per_day/1000.to_i %> k
      </div>
    </div>
  <% end %>
</div>
