

<div class="container-index" data-controller="vehicle">



  <div class="card-vehicles">
    <div class=title_edit>
      <h1>Outdoor escapades ✈️</h1>
      <p>Find all our atypical vehicles to fly to new skies </p>
    </div>
    <% @vehicles.each do |vehicle| %>
        <div class="card-category">
          <div  class="inner-card"
                data-vehicle-target="card"
                data-action="mouseover->vehicle#display">
            <div class="inner-card-hover hidden" data-action="mouseout->vehicle#hide">
            <div class='text-hover'>
              <%= vehicle.name %>
              <br>
              <%= vehicle.vehicle_type %>
              <br>
              <%= vehicle.price_per_day %>
            </div>
            </div>
            <%= link_to vehicle_path(vehicle) do %>
              <% image_tag vehicle.photo, class: "card-img"%>
            <% end %>
          </div>
        </div>
          <div></div>
          <div style="margin-top: 24px; margin-bottom: 4px;">

          </div>
    <% end %>
  </div>

  <div id="map" class="map-index"
    style="width: 100%; height: 100vh; position: sticky; top: 59px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
