
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="col-6">
    <h1 class="text-center">Create</h1>

    <%= simple_form_for(@vehicle) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, required: true, label: "What's the name of your vehicle?" %>
        <%= f.input :address, hint: "Enter the street and city" %>
        <%= f.input :photo, as: :file, label: "Image of vehicle" %>
        <%= f.input :summary, label: "Describe your flying vehicle" %>
        <%= f.input :total_seats, label: "Enter the number of seats" %>
        <%= f.input :price_per_day, label: "Enter the price necessary per day" %>
        <%= f.select :vehicle_type, ['Unusual', 'Futuristic', 'Contemporary', 'Antique', 'Extreme']%>
      </div>

      <div class="form-actions d-flex justify-content-center btn btn-primary">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>